In [1]:
t = (1, 2, 3)

In [2]:
mylist = [1, 2, 3]

In [3]:
type(t)

tuple

In [5]:
type(mylist)

list

In [6]:
len(t)

3

In [7]:
t

(1, 2, 3)

In [8]:
t = ('one', 2)

In [9]:
t[0]

'one'

In [10]:
t[-1]

2

In [11]:
t = ('a', 'a', 'b')

In [12]:
t.count('a')

2

In [14]:
# First appearnce index of searched element
t.index('a')

0

In [15]:
t

('a', 'a', 'b')

In [16]:
mylist[0] = 'New'

In [17]:
mylist

['New', 2, 3]

In [18]:
t[0] = 'New'

TypeError: 'tuple' object does not support item assignment

# Sets

In [19]:
myset = {1, 2, 1, 3}

In [20]:
myset

{1, 2, 3}

In [21]:
myset = set()

In [22]:
myset

set()

In [23]:
myset.add(1)

In [24]:
myset

{1}

In [25]:
myset.add(2)

In [26]:
myset

{1, 2}

In [27]:
myset.add(2)

In [28]:
myset

{1, 2}

In [31]:
mylist = [1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3]

In [32]:
set(mylist)

{1, 2, 3}

## Booleans

In [33]:
True

True

In [35]:
False

False

In [36]:
type(False)

bool

In [37]:
1 > 2

False

In [38]:
1 == 1

True

In [39]:
b = None

In [40]:
b